<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>SWS</title>
	<atom:link href="http://192.168.1.16/feed/" rel="self" type="application/rss+xml" />
	<link>http://OFFLINEZIP.wpsho</link>
	<description>Schweizerischer Wissenssender</description>
	<lastBuildDate>Tue, 05 May 2020 11:40:26 +0000</lastBuildDate>
	<language>en-GB</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.4.1</generator>

<image>
	<url>http://OFFLINEZIP.wpshowp-content/uploads/2020/05/cropped-SWS_Logo-1-32x32.png</url>
	<title>SWS</title>
	<link>http://OFFLINEZIP.wpsho</link>
	<width>32</width>
	<height>32</height>
</image> 
</channel>
</rss>
